/* Estilos adicionais para o Swiper */
.swiper {
    width: 100%;
    padding: 20px 0 50px;
}

.swiper-wrapper {
    padding: 10px 0;
}

.swiper-slide {
    height: auto;
    display: flex;
    justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--cor-principal-turquesa);
    --swiper-navigation-size: 28px;
    top: 40%;
}